body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family: 'Walter Turncoat', cursive;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.5em;
    list-style: none;
}

a {
    text-decoration: none;
    color: #999;
    font-family: 'Walter Turncoat', cursive;
}

a:hover {
    text-decoration: underline;
    font-family: 'Walter Turncoat', cursive;
    color: #FF7D33;
}

h1 {
    font-size: 3em;
    font-family: 'Walter Turncoat', cursive;
}

h2  {
    font-size: 1.75em;
    font-family: 'Walter Turncoat', cursive;
}    

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

p.meta {
    font-family: 'Walter Turncoat', cursive;
    font-weight: bold;
}    
    
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    list-style: none;
}

/*
ul.posts li {
    list-style: none;
}

ul.nav li {
    font-size: 1em;
}

ul.footer li {
    font-size: 0.8em;
} 
*/

.post-footer {
    font-family: 'Walter Turncoat', cursive;
    font-weight: bold;
    font-size: .8em;
}

.post {
    font-family: 'Walter Turncoat', cursive;
    font-size: 1em;
} 

h1.page-title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
}  

.blurb {
    font-family: 'Walter Turncoat', cursive;
    font-size: 1em;
}    
