<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include tracking.html %}
			<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Just+Another+Hand">
			<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet" type"text/css">
			<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/portfolio">Portfolio</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/blog/atom.xml">RSS Feed</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:czolish@gmail.com">email</a></li>
	        		<li><a href="https://github.com/czolish">github.com/czolish</a></li>
			</ul>
			</footer>
			<script id="dsq-count-scr" src="//www-czupil-com.disqus.com/count.js" async></script>
		</body>
	</html>
